body {
    background-image: url("background_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachement: fixed;
    padding: 20px;
}

td {
  padding:10px 20px 10px 0px;
}
