* {
    box-sizing: border-box;
}

body {
    background-image: url("gallery/WondoGenet_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachement: fixed;
    padding: 20px;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}
