.distill-site-nav {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgb(8, 50, 67);
  font-size: 15px;
  font-weight: 300;
}

.distill-site-nav a {
  color: inherit;
  text-decoration: none;
}

.distill-site-nav a:hover {
  color: white;
}

.distill-site-header {
}

/*Footer style*/
.distill-site-footer {
	background-color: rgb(8, 50, 67);
}

@media print {
  .distill-site-nav {
    display: none;
  }
}

/*Logo size and position*/
.distill-site-header .logo img {
    max-height:42px;
    width: auto;
    margin-bottom: -15px;
  }

/*Use similar settings for images in navigation bar*/
.distill-site-header .nav-image img {
	opacity: 0.85;
    max-height: 25px;
    width: auto;
    display: inline-block;
    margin-bottom: -3px;
  }
